$cadetBgColor: cadetblue;

//breakpoints for devices

//Mobile Devices
$mobile-min: 320px;
$mobile-max: 480px;

//ipads and Tablets
$tablet-min: 481px;
$tablet-max: 768px;

//small laptops
$sm-laptop-min: 769px;
$sm-laptop-max: 1024px;

//large laptops and screens
$lg-desktop-min: 1025px;
$lg-desktop-max: 1200px;

// extra large screens and desktops
$extra-lg-desktop-min: 1201px;
