nav{
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
            }

            a:hover{
                font-size: 1.5rem;
                text-decoration: underline;
            }
        }
    }
}