.header h1 {
  font-size: 13rem;
}

.main-page {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.action-btn {
  background-color: purple;
  padding: 15px 20px;
  color: #fff;
  font-size: 30px;
  margin: 8px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.counter {
  font-size: 90px;
  font-weight: 800px;
}

/* Form Stylings */

.form-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: solid 1px #ccc;
  padding: 10px;
  max-width: 200px;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  font-family: "Poppins";
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}

.hover-me{
  background-color: #000;
  color: #fff;
  font-family: 'Poppins';
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 15px 25px;
  width: 100%;
  cursor: pointer;

}

.car {
  background-color: #4caf50;
  max-width: 100%;
  display: flex;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-size: 17px;
  margin: 1% 1%;
  padding: 1% 5px;
  border-radius: 10px;
  border: none;
  display: block;
}

.CarArrays {
  text-decoration: underline;
  cursor: pointer;
}