
.card {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: solid 1px #ccc;
    border-radius: 15px;
    max-width: 300px;
}

.card-name {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    margin: 20px auto;
}
